body{
    color:lightpink;
    background-color: rgb(57, 7, 104);

}
h1{
    margin: 15px;
    border: solid 4px;
    border-color: darkgreen;
    padding: 20px;
}
#name {
    font-family: 'Fascinate', cursive;
    font: bold 30px cursive;
    color: lightblue;
}